

#editnote-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:1em;
    margin: 10px 0px 10px 0px;
}

.editnote-header-properties {

}

#editnote-middle{
    
}

#editnote-bottom{

}

/* --------------------------- SPEECH SETTINGS ---------------------------------------- */

﻿.status .indicators {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.status .indicators div {
    border: solid 1px #888;
    border-radius: 6px;
    width: 5rem;
    text-align: center;
    padding: 0.2rem 0;
    background-color: #333;
    color: #888;
    margin-bottom: 0.5rem;
}

    .status .indicators div.active {
        color: #6f6;
    }

