<div class="sidebar @(isExpanded ? "expand" : "collapse")" @onmouseenter="ExpandSideBar" @onmouseleave="CollapseSideBar">
    <div class="add-item">
        <NavLink href="/note">
            <div class="menu-item">
                <span class="oi oi-plus menu-icon">
                    <span class="menu-name">
                        ADD
                    </span>
                </span>
            </div>
        </NavLink>
    </div>
    <div class="sidebar-item">
        <NavLink href="/">
            <div class="menu-item">
                <span class="oi oi-home menu-icon">
                    <span class="menu-name">
                        HOME
                    </span>
                </span>
            </div>
        </NavLink>
    </div>
    <div class="sidebar-item">
        <NavLink href="/tag">
            <div class="menu-item">
                <span class="oi oi-tag menu-icon">
                    <span class="menu-name">
                        TAGS
                    </span>
                </span>
            </div>
        </NavLink>
    </div>
    <div class="sidebar-item">
        <NavLink href="/favourite">
            <div class="menu-item">
                <span class="oi oi-star menu-icon">
                    <span class="menu-name">
                        FAVOURITES
                    </span>
                </span>
            </div>
        </NavLink>
    </div>
    <div class="sidebar-item">
        <NavLink href="/search">
            <div class="menu-item">
                <span class="oi oi-compass menu-icon">
                    <span class="menu-name">
                        SEARCH
                    </span>
                </span>
            </div>
        </NavLink>
    </div>
    
    
    
    
    

    
</div>

@code {
    bool isExpanded;
    private void ExpandSideBar()
    {
        isExpanded = true;
    }

    private void CollapseSideBar()
    {
        isExpanded = false;
    }
}
