<div class="sidebar @(isExpanded ? "expand" : "collapse")" @onmouseenter="ExpandSideBar" @onmouseleave="CollapseSideBar">
    <div class="add-item">
        <NavLink href="/note" class="menu-item">
            <span class="oi oi-plus menu-icon">
                <span class="menu-name">
                    ADD
                </span>
            </span>
        </NavLink>
    </div>
    <div class="sidebar-item">
        <NavLink href="/" class="menu-item">
            <span class="oi oi-home menu-icon">
                <span class="menu-name">
                    HOME
                </span>
            </span>
        </NavLink>
    </div>
    <div class="sidebar-item">
        <NavLink href="tag" class="menu-item">
            <span class="oi oi-home menu-icon">
                <span class="menu-name">
                    TAGS
                </span>
            </span>
        </NavLink>
    </div>
    
    
    

    
</div>

@code {
    bool isExpanded;
    private void ExpandSideBar()
    {
        isExpanded = true;
    }

    private void CollapseSideBar()
    {
        isExpanded = false;
    }
}
