.container{
    display: flex;
    flex-direction: column;
    background-color : black;
    width : 6rem;
    padding: 1rem;
    border-radius: 0 10px 10px 0;
    opacity: 0.2;
}

.expand{
    width: 8rem;
}

.collapse {
    width: 3rem;
}

.menu-icon {
    color: white;
    opacity: 1;
}

.menu-name {
    color: white;
    visibility: hidden;
    position: absolute;
    margin-left: 0.5rem;
    opacity: 1;
}

.expand .menu-name{
    visibility: visible;
}

.menu-item:hover .menu-name{
    
    transform: scale(1.2);
    transition: transform 0.5s ease;
    opacity: 1;
    transform-origin: left center;
}

.menu-item:hover .menu-icon {
    
    transform: scale(1.2);
    transition: transform 0.5s ease;
    opacity: 1;
}