@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation


@* -- TOP Bar *@
<AuthorizeView>
    <Authorized>
        <div>NOTEPAD+++</div>
        <a href="authentication/profile">@context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">LOG OUT</button>
    </Authorized>
    <NotAuthorized>
        <div>NOTEPAD+++</div>
        <a href="authentication/register">REGISTER</a>
        <a href="authentication/login">LOG IN</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
