@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using NoteTakingAppWithLogin.Shared
@inject NavigationManager Navigation
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        
            <div>
                <div>NOTEPAD+++</div>
            </div>
            <div style="display:flex; flex-direction:row;">
            <div><button  @onclick="GoToProfile">@context.User.Identity?.Name!</button></div>
            <div><button  @onclick="BeginLogOut">LOG OUT</button></div>
            </div>
        
        
    </Authorized>
    <NotAuthorized>
        <div>NOTEPAD+++</div>
        <a href="authentication/register">REGISTER</a>
        <a href="authentication/login">LOG IN</a>
    </NotAuthorized>
</AuthorizeView>

@code{



    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    private void GoToProfile()
    {
        Navigation.NavigateTo("authentication/profile");
    }

    

    List<UserNote> notes = new List<UserNote>();
    
    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (user != null && user.IsAuthenticated)
        {
            var result = await Http.GetFromJsonAsync<List<UserNote>>("api/usernote");
            notes = result;
            
            Console.WriteLine("USER REPLY: " + user);
        }

    }

    
}
