@inherits LayoutComponentBase

<div class="page">
    <AutoHideSideBar></AutoHideSideBar>
    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            
        </div>

        <article class="content px-4">
            @Body
        </article>
        <div class="bottom-row px-4">
            <MobileMenuBar></MobileMenuBar> 
        </div>
    </main>
</div>
