<div class="menubar">
    <div>
        <a href="/note"><span class="oi oi-plus menu-icon"></span></a>
    </div>
    <div>
        <a href="/"><span class="oi oi-home menu-icon"></span></a>
    </div>
    <div>
        <a href="/tag"><span class="oi oi-tag menu-icon"></span></a>
    </div>
    <div>
        <a href="/favourite"><span class="oi oi-star menu-icon"></span></a>
    </div>
    <div>
        <a href="/search"><span class="oi oi-compass menu-icon"></span></a>
    </div>
</div>

@code {

}
