<div class="menubar">
    <div>
        <a href="/note">ADD NOTE</a>
    </div>
    <div>
        <a href="/">HOME</a>
    </div>
    <div>
        <a href="/tag">TAGS</a>
    </div>
    <div>
        <a href="/favourite">FAVOURITE</a>
    </div>
</div>

@code {

}
